[Unit]
Description=nginx-chromium-kiosk
Requires=nginx.service
After=nginx.service

[Service]
Type=simple
User=nginx-chromium-kiosk
Group=nginx-chromium-kiosk
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/rm -rf /home/nginx-chromium-kiosk/.config/chromium
ExecStart=/usr/bin/chromium-browser --disable-gpu --kiosk --incognito --no-first-run --disable-infobars --noerrdialogs --disable-features=Translate --overscroll-history-navigation=0 --disable-features=TouchpadOverscrollHistoryNavigation --touch-events=enabled --disable-pinch --password-store=basic --disk-cache-dir=/dev/null --disk-cache-size=1 --simulate-outdated-no-au='Tue, 31 Dec 2099 23:59:59 GMT' --disable-component-update http://localhost:8080
